<h1>Coll_Mgmt_Api_Svr</h1>
<br />
<h4>Bienvenu dans le serveur de test local REST API</h4>
<br />
<h5>Veuillez consulter la @Html.ActionLink("help page", "Index", "Help", new { area = "" }, null) pour plus d'informations sur les requêtes possibles pour consommer cette RESTful API</h5>